:root {
    --black: #464646;
    --grey: #686868;
    --l-blue: #3D6597;
    --gray: #848484;
    --l-yellow: #E1B127;
    --btn-color: #1D1E18;
    --bg-color: #FDFFFC;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color) !important;
}

.img-small-screen {
    order: 2;
}

.text-small-screen {
    order: 1;
}

/* nav */
#logo {
    font-family: 'Oleo Script', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 89px;
    text-align: left;
    margin-top: 10px;
}

/* coming soon */
#text-info {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: var(--black);
    text-align: left;
}

#text-sub {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    color: var(--grey);
    text-align: left;
    padding-right: 300px;
    margin-bottom: 45px;
}

#see-how-it-works-btn {
    border: 2px solid var(--l-blue);
    box-sizing: border-box;
    border-radius: 45px;
    font-size: 16px;
    line-height: 19px;
    color: var(--l-blue) !important;
}

#see-how-it-works-btn:hover {
    background-color: var(--l-blue);
    color: white !important;
}

/* how it works */
#my-6 {
    margin-top: 200px;
    margin-bottom: 100px;
}

#text-direct,
#text-looks {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: var(--black);
    margin-bottom: 120px;
    text-decoration: underline;
}

.steps {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--grey);
    text-transform: capitalize;
}

.steps-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--gray);
    width: 140px;
    margin: 0 auto;
}

/* about stud-y */
#my-7 {
    margin-top: 300px;
    margin-bottom: 200px;
}

.about-text {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-decoration: underline;
    color: var(--black);
}

.about-description {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-right: 50px;
    color: var(--gray);
}

#btn-ai,
#btn-bkshop {
    border: 1px solid var(--btn-color);
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: bold;
}

/* how it looks */
.image-grid-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

#mb-6 {
    margin-bottom: 300px;
}

/* contact form */
.bg-yellow {
    background-color: var(--l-yellow);
}

#pos-img {
    z-index: 3;
}

#text-contact {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

input[type='email'] {
    border: none;
    border-radius: 3px;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    width: 400px;
}

#subscribe-btn {
    background-color: var(--l-blue);
    font-size: 16px;
    line-height: 19px;
    border-radius: 0;
    display: inline;
}

#fail,
#success {
    display: none;
}

/* footer */
#footer-dark {
    background-color: var(--btn-color);
}

.card {
    border-radius: 0 !important;
}

#footer-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}


@media only screen and (max-width: 426px) {

    /* nav */
    #logo {
        font-size: 30px;
        line-height: 2px;
        margin-top: 15px;
    }

    /* coming soon */
    #text-info {
        font-size: 28px;
        line-height: 24px;
    }

    #text-sub {
        padding-right: 20px;
    }

    /* how it works */
    #my-6 {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #text-direct {
        margin-bottom: 20px;
    }

    /* about stud-y */
    #my-7 {
        margin-top: 40px;
        margin-bottom: 150px;
    }

    .about-text {
        text-align: center;
    }

    .about-description {
        padding-right: 0;
        text-align: justify;
    }

    /* how it looks */
    .image-grid-box {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    #mb-6 {
        margin-bottom: 150px;
    }

    /* contact */
    #alc {
        align-self: center;
    }

    #text-contact {
        margin-top: 10px;
        margin-left: 20px;
    }

    form {
        align-self: center;
    }

    input[type='email'] {
        width: 200px;
    }

    #subscribe-btn {
        padding: 0 20px;
        width: 200px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {

    /* navbar */
    #logo {
        font-size: 35px;
        line-height: 20px;
        margin-top: 15px;
    }

    /* coming soon */
    #text-sub {
        padding-right: 0px;
    }

    /* how it works */


    /*About study */
    .about-text {
        text-align: center;
    }

    .about-description {
        padding-right: 0;
    }

    /* How it looks */
    .image-grid-box {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }


    /* contact */
    #text-contact {
        text-align: center !important;
        margin-top: 20px;
    }

    #subscribe-btn {
        width: 380px;
    }

    form {
        align-self: center;
        justify-content: center;
    }

    input[type='email'] {
        width: 380px;
    }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {

    /* navbar */
    #logo {
        margin-top: 5px;
    }

    /* coming soon */
    #mp-lt {
        padding-top: 0 !important;
    }

    .ml-md-n5 {
        margin-left: 0 !important;
    }

    #text-info {
        font-size: 28px;
        line-height: 25px;
    }

    #text-sub {
        padding-right: 20px;
    }

    .image-grid-box {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}


@media only screen and (max-width: 767px) {
    .img-small-screen {
        order: 1;
    }

    .text-small-screen {
        order: 2;
    }

    #center-btn {
        justify-content: center;
    }
}

@media only screen and (max-width: 320px) {
    #logo {
        font-size: 20px;
    }
}