:root {
    --black: #464646;
    --grey: #686868;
    --blue: #3D6597;
    --gray: #848484;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* nav */
#logo {
    font-family: 'Oleo Script', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 89px;
    text-align: left;
}

/* coming soon */
#text-info {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    color: var(--black);
    text-align: left;
}

#text-sub {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    color: var(--grey);
    text-align: left;
}

#see-how-it-works-btn {
    border: 2px solid var(--blue);
    box-sizing: border-box;
    border-radius: 45px;
    font-size: 16px;
    line-height: 19px;
    color: var(--blue);
}

#subscribe-btn {
    background-color: var(--blue);
    font-size: 16px;
    line-height: 19px;
    border-radius: 0;
}

/* how it works */
#text-direct {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: var(--black);
    text-decoration: underline;
}

.position-images {
    position: relative;
}

.phone {
    position: relative;
    z-index: 3;
}

.phone-1 {
    background: linear-gradient(270deg, #FCE304 5.27%, #E18027 100%);
    box-shadow: 12.0613px 18.0919px 39.1992px rgba(0, 0, 0, 0.07);
    width: 325px;
    height: 286px;
    border-radius: 50%;
}

.phone-2 {
    background: linear-gradient(73.41deg, #03BB79 10.34%, #A6FF4E 91.94%);
    box-shadow: 10.9703px 16.4555px 35.6535px rgba(0, 0, 0, 0.07);
    width: 325px;
    height: 286px;
    border-radius: 50%;
}

.phone-3 {
    background: linear-gradient(270deg, #09CACA 7.01%, #0085BE 88.45%);
    /* circular shadow */
    box-shadow: 20px 30px 65px rgba(0, 0, 0, 0.07);
    width: 325px;
    height: 286px;
    border-radius: 50%;
}

.circle-1 {
    position: absolute;
    top: 47.5%;
    left: -13.5%;
}

.circle-2 {
    position: absolute;
    top: 47.5%;
}

.steps {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--grey);
}

.steps-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--gray);
}


